@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$theme-colors: (
   "primary":    #004c7f,
   "secondary":  $secondary,
   "success":    $success,
   "info":       $info,
   "warning":    $warning,
   "danger":     $danger,
   "light":      $light,
   "dark":       $dark
 );

@import "bootstrap/scss/bootstrap";
@import "@/assets/scss/styles.scss";

body{
	font-family: Geologica;
}

canvas{
  border-radius: 10px;
  box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09),
                    0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
  border: solid 2px var(--bs-tertiary-color);
}

.slide-fade-enter-active{
  transition: all var(--slide-fade-time) ease; 
}
.slide-fade-leave-active {
  transition: all 0s ease;
}
.slide-fade-enter-from{
   opacity: 0;
   transform: translateY(30px);
}
.slide-fade-leave-to { opacity: 0; }


.fade-enter-active,
.fade-leave-active {
  transition: all 250ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.opacity-enter-active,
.opacity-leave-active {
  transition: all 250ms ease;
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}

.hover-shadow{
  transition: all 200ms ease;
}

.hover-shadow:hover{
  transform: translateY(-10px);
  box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09),
                    0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
}