

html{
    background-color: #222;
    font-family: helvetica;
    color: white;
}

h1{
    text-align: center;   
    color: grey;
}


canvas{
    margin: 30px auto;
    display: block;
    border: 5px solid white;
}


p{
    position: absolute;
    top: 40px;
    text-align: center;
    width: 100%;
    color: blue;
    
}
