

html{
    background-color: var(--bg);
    font-family: var(--font);
    color: var(--h1-color);
}

h1{
    text-align: center;   
    color: grey;
}


canvas{
    margin: 30px auto;
    display: block;
    border: 5px solid white;
    box-shadow: var(--principal-shadow);
}


p{
    position: absolute;
    top: 40px;
    text-align: center;
    width: 100%;
    color: blue;
    
}
